
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #837c7c;
    transition: .5s;
}
.box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #a7a8aa81;
}
/* ------------------ Responsive parts ------------------ */
@media only screen and (max-width:600px){
    *{
        font-size: 13px;
    }
}
