@font-face {
    font-family: 'Trip Sans';
    src: url('/src/styles/font/TripSans-Medium.eot');
    src: local('Trip Sans Medium'), local('TripSans-Medium'),
        url('/src/styles/font/TripSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('/src/styles/font/TripSans-Medium.woff2') format('woff2'),
        url('/src/styles/font/TripSans-Medium.woff') format('woff'),
        url('/src/styles/font/TripSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Trip Sans';
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a7a7a7;
}
/* barre de navigation */
.side-nav{
    position: absolute;
    top: 25%;
    left: 1%;
    transform: translate(0, -50%);
}
.side-nav p,a{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.header{
    position: absolute;
    top: 1%;
    left: 1%;
}
.footer{
    position: absolute;
    bottom: 1%;
    left: 1%;
}
/* valeur */
.sensors{
    width: 70%;
    height: 75%;
    position: absolute;
    left: 25%;
    top: 10%;
    padding: 20px 10%;
    background-color: rgb(255, 255, 255);
}
.historique{
    width: 70%;
    height: 75%;
    position: absolute;
    left: 25%;
    top: 10%;
    padding: 20px 10%;
    background-color: rgb(255, 255, 255);
}
/* ------------------ Responsive parts ------------------ */
@media only screen and (max-width:600px){
    *{
        font-size: 13px;
    }
}
